name: Deploy to Minikube using GitHub Actions

on: [push]
  
jobs:
  job1:
    runs-on: ubuntu-latest
    name: build Node.js Docker Image and deploy to minikube
    steps:
    - uses: actions/checkout@v2
    - name: Start minikube
      id: minikube
      uses: medyagh/setup-minikube@latest
    - name: Try the cluster !
      run: kubectl get pods -A
    - name: Build image
      run: |
          export SHELL=/bin/bash
          eval $(minikube -p minikube docker-env)
          docker build -f ./Dockerfile -t devopshint/node-app:latest .
          echo -n "verifying images:"
          docker images         
    - name: Deploy to minikube
      run: |
          kubectl apply -f k8s-node-app.yaml
          echo "Checking pod status..."
          kubectl get pods -A
          kubectl describe pod -l app=nodejs-app
          kubectl logs -l app=nodejs-app || true
    - name: Test service URLs
      run: |
          minikube service list
          minikube service nodejs-app --url